.main {

	&-content{
		padding-bottom: 1.875em;

		@media #{$tablet} {
			display: flex;
		}
	}


	&-imgs{
		width: 90.625%;
		margin: 1.25em auto 0.9375em;
	}


}

.top-div{
	@media #{$tablet} {
		display: flex;
	}
}


#port{
	padding-top: 1.625rem;
	padding-bottom: 1.8125em;
}


.top-div img{
	margin: 2.5625em auto 1.5625em;
	width: 62.5%;
}




.search{
	max-width: 94%;
}

.mkt{
	padding-bottom: 0.625em;
}


.base {


	&-nav{
		display: none;
	}

	&-content{
		padding-top: 2.9375em;
	}

	&-content ul{
		margin: 0.625em auto 2.5em;
		padding-bottom: 0.4375em;
	}


}


.skill-div{
	display: flex;
}




.skill-div ul{
	width: 90%;
	display: flex;
	margin: 1em auto;
	padding: 1em 0;
	flex-wrap: wrap;
	justify-content: space-around;
	animation: shad2 2s linear 44.5s 1 forwards;
	background-color: $white;
}



