
footer{
	background-color: #fafafa;
	display: flex;
	height: 4.625em;
	justify-content: space-between;
}

#student-name{
	text-transform: none;
	padding-left: 4.7%;
	font-size: 1em;
}
#btt{
	padding: 2.375em 4.7% 1em 0;
}


