
.headnav a{
	display: block;
	padding: 0.6875em 5px;
}


.nav-list{
	margin: 1.3125em 0;
		
	@media #{$tablet} {
		display: flex;
		margin-top: 0.9375em;
	}

}



.headnav li{
	padding: 0;
}



.nav-list li{
	background-color: $white;
}


