*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: $tundora;
	text-align: center;
}

body{
	background-color: $alabaster;
}



li{
	list-style: none;
}

img{
	display: block;
}

a{
	text-decoration: none;
	transition: all .5s;


	&:link{
		color: $tundora;
	}
	

	&:visited{
		color: $red;
	}
	&:hover{
		text-shadow:0 1px 0 #222,
			0 -1px 0 #222,
                	0 2px 0 #222,
                	0 3px 0 #222,
                	0 4px 0 #222;
	}

	&:active{
		text-decoration: underline;
	}




}






