


$tundora           : #4a4a4a;
$red               : #ff0000;
$dovegrey          : #666;
$black             : #000;
$grey              : #888;
$emperor           : #555;
$mercury           : #e7e7e7;
$boulder           : #777;











