


$tundora           : #4a4a4a;
$red               : #ff0000;
$dovegrey          : #666;
$black             : #000;
$grey              : #888;
$emperor           : #555;
$mercury           : #e7e7e7;
$boulder           : #777;
$alabaster         : #fafafa;
$white             : #fff;


$frank             : 'Libre Franklin', sans-serif;
$source            : 'Source Sans Pro', sans-serif;

$tablet     : 'screen and (min-width: 768px)';
$desktop    : 'screen and (min-width: 1024px)';





