

hr{
	width: 92.1875%;
	margin: 0 auto;
	height: 1px;
	color: $mercury;
	background: $mercury;
	border: none;

	@media #{$desktop} {
		width: 87.3046875%;
	}





}
#f-line{
	margin-bottom: 2em;
	margin-top: 2em;
}


