

.top-para,
.main-para{
	@include text(1em, 300, $dovegrey, $frank, 1.5);
	padding: 0 0.5em 2.5em;
	@extend %one;
}


.main {


	&-titles{
		@include text(1.3em, 400, $fam: $source);
		@extend %one;
	}

	&-para{
		@include text(0.95em, $color: $black);
		max-width: 92%;
		margin: 0.625em auto;
		padding-bottom: 1.25em;
		@media #{$tablet} {
			max-width: 85%;
		}
		@media #{$desktop} {
			padding-left: 0;
			padding-right: 0;
			max-width: 96%;
		}


	}


}

.top-para {
	@media #{$tablet} {
		font-size: 1.2em;
		text-align: left;
		margin: 0.9em 3px 0 1.875em;
		padding: 0;
		width: 56.5%;
	}
	@media #{$desktop} {
		text-align: left;
		margin: 0 3px 0 5.859375%;
		padding: 0;
		width: 47.5%;
	}
}






.base-content {


	& ul li{
		@include text(1.15em, 900, $grey, $source);
		margin: 0.625em auto 0.9375em;
		@media #{$tablet} {
			@include text(1.4em, 600);
			margin-bottom: 0.9em;
		}
		@media #{$desktop} {
			font-weight: 900;
			margin-bottom: 0.6875em;
		}


	}

	& ul li span{
		font-weight: 400;
		margin-right: 0.6em;
	}
	& p{
		@include text(0.97em, $lh: 1.55);
		padding-top: 0.75em;
		padding-bottom: 1.0625em;
		@media #{$tablet} {
			@include text(1.3em, $color: $boulder, $lh: 1.3);
			letter-spacing: -0.03em;
			max-width: 70%;
			margin-top: 1.05em;
			padding-bottom: 1.7em;
		}
		@media #{$desktop} {
			max-width: 54%;
			margin-top: 0.43em;
		}


	}

	& h2{
		@extend %headline;
		@media #{$tablet} {
			padding-top: 0.4375em;
			padding-bottom: 0.6em;
		}



	}
}



.skill-div ul li{
	@include text(1.75em, $color: $tundora);
	margin: 0;
	padding: 0.5em;
	display: inline-block;
	opacity: 0;
	@media #{$tablet} {
		@include text(2em, 900);
	}


	@media #{$desktop} {
		font-size: 2.25em;
	}
}


.nav-list li{
	@extend %headline;

	@media #{$tablet} {
		background-color: initial;
		margin: 5px 0.9375em;
	}
}

.headnav li{
	padding: 0;
	@media #{$desktop} {
		padding: 0;
		margin: 0;
	}
}


footer h2{
	@extend %headline;
	@include text(0.8em, $color: $emperor);
	padding: 1.6875em 0;
	margin: 0;
}



.top-name{
	@include text(1.75em, 900, $fam: $source);
	padding-top: 1.125rem;

	@media #{$tablet} {
		padding-top: 1.65em;
	}


	@media #{$desktop} {
		padding: 0;
		margin: 0;
		margin-left: 5.859375%;
	}
}



.skills h2{
	@extend %headline;
}




#port{
	@extend %headline;
	padding-top: 2.625rem;
	padding-bottom: 2.8125em;
	background-color: $white;
	margin: 0;
	max-width: 100%;
	@media #{$tablet} {
		padding-top: 2.67em;
		padding-bottom: 3.25em;
	}
	@media #{$desktop} {
		width: 94.140625%;
		max-width: 100%;
		margin: 0;
		padding: 3.8em 0;
	}
}


#port h2{
	@include text(0.97em, 900);
}



.footnav li{
	@media #{$tablet} {
		margin: 0;
		padding: 0;
	}
}






